<!-- <ul class="targets">
  <li
    *ngFor="let target of targets"
    [class.selected]="target === selectedTarget"
    (click)="onSelect(target)"
  >
    <span class="badge">{{ target.companyName }}</span>
  </li>
</ul>

<!-- <div *ngIf="selectedTarget">
  <h2>{{ selectedTarget.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedTarget.companyName" placeholder="name" />
    </label>
  </div>
</div> -->
<!-- 
<app-target-detail [target]="selectedTarget"></app-target-detail> -->

<h2>Company Targets</h2>
<ul class="targets">
  <li *ngFor="let target of targets">
    <a routerLink="/detail/{{ target.id }}">
      <span class="badge">{{ target.id }}</span>
      {{ target.companyName }}
    </a>
    <button
      class="delete"
      title="delete target company"
      (click)="delete(target)"
    >
      X
    </button>
  </li>
</ul>

<div>
  <label
    >Company name:
    <input #targetName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- In response to a click event, call the component's click handler, add(), and then clear the input field so that it's ready for another name -->
  <button (click)="add(targetName.value); targetName.value = ''">
    add
  </button>
</div>
