<!-- <p>target-detail workssss!</p> -->

<!-- <div *ngIf="selectedTarget">
  <h2>{{ selectedTarget.companyName | uppercase }} Details</h2>
  <div>
    <span>Acquisition Status: </span>{{ selectedTarget.acquisitionStatus }}
  </div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedTarget.companyName" placeholder="name" />
    </label>
  </div>
</div> -->

<button (click)="goBack()">go back</button>

<div *ngIf="selectedTarget">
  <h2>{{ selectedTarget.name | uppercase }} Details</h2>
  <div>
    <!-- <span>Acquisition Status: </span>{{ <selectedTarget.acquisitionStatus }} -->
  </div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedTarget.id" placeholder="name" />
    </label>
  </div>
</div>
